<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../assets/Recursos/Imagenes/LOGO13.png" alt="Logo Ferretería Juan Xavier">
                </a>
            </figure>
            <p>Desde 1990, brindando soluciones confiables para tus proyectos.</p>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <ul>
                <li><a href="#">Nuestra Historia</a></li>
                <li><a href="#">Misión y Visión</a></li>
                <li><a href="#">Valores</a></li>
                <li><a href="#">Equipo</a></li>
            </ul>
        </div>
        <div class="box">
            <h2>CONTÁCTANOS</h2>
            <ul class="contact-list">
                <li><i class="fa fa-phone"></i> 0945365822</li>
                <li><i class="fa fa-envelope"></i> ferreteriajx@gmail.com</li>
                <li><i class="fa fa-map-marker"></i> Calle Paraiso de la Flor.</li>
            </ul>
            
        </div>
        <div class="box">
            <h2>SÍGUENOS</h2>
            <div class="red-social">
                <a href="https://facebook.com" class="fab fa-facebook-f" aria-label="Facebook"></a>
                <a href="https://instagram.com" class="fab fa-instagram" aria-label="Instagram"></a>
                <a href="https://twitter.com" class="fab fa-twitter" aria-label="Twitter"></a>
            </div>
        </div>        
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>FERRETERÍA JUAN XAVIER</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
