<section class="hero">
  <div class="hero-content">
    <h1>Conectando Proyectos, Construyendo Confianza</h1>
    <p class="hero-subtitle">Tu ferretería de confianza desde 1990, brindando soluciones para tus proyectos.</p>
  </div>
</section>

<section id="historia" class="historia">
  <div class="container historia-layout">
    <div class="historia-imagen">
      <img src="./assets/Recursos/Imagenes/ferreteria.jpg" alt="Historia de Ferretería Juan Xavier" />
    </div>
    <div class="historia-content">
      <h2>Nuestra Historia</h2>
      <p>
        Desde 1990, Ferretería Juan Xavier ha sido un pilar en Guayaquil, ofreciendo productos de calidad y un servicio excepcional. Nuestra dedicación nos ha permitido crecer y servir mejor a nuestra comunidad.
      </p>
      <p>
        A lo largo de los años, hemos innovado para ofrecer las mejores soluciones en materiales y herramientas.
      </p>
    </div>
  </div>
</section>

<section class="filosofia">
  <h2>Nuestra Filosofía</h2>
  <div class="filosofia-tarjetas">
    <div class="tarjeta">
      <i class="fas fa-handshake"></i>
      <h3>Misión</h3>
      <p>
        Proveer soluciones integrales en materiales de construcción y herramientas, superando las expectativas de nuestros clientes con productos de alta calidad y un servicio personalizado.
      </p>
    </div>
    <div class="tarjeta">
      <i class="fas fa-bullseye"></i>
      <h3>Visión</h3>
      <p>
        Convertirnos en la empresa líder en la comercialización de productos de ferretería, ofreciendo innovación y excelencia.
      </p>
    </div>
    <div class="tarjeta">
      <i class="fas fa-star"></i>
      <h3>Valores</h3>
      <p>
        Respeto, integridad, responsabilidad, trabajo en equipo y pasión son los pilares éticos fundamentales de nuestra organización.
      </p>
    </div>
  </div>
</section>

<section class="equipo">
  <h2>Conoce a Nuestro Equipo</h2>
  <div class="equipo-container">
    <div class="miembro">
      <img src="./assets/Recursos/Imagenes/JuanCriollo.jpg" alt="Pedro López" />
      <h4>Juan Mendoza Criollo</h4>
      <p>Dueño</p>
    </div>
    <div class="miembro">
      <img src="./assets/Recursos/Imagenes/carlos.png" alt="Ana García" />
      <h4>Carlos Viteri Vera</h4>
      <p>Administrador - Hijo</p>
    </div>
  </div>
</section>
