.whatsapp-float {
    position: fixed;
    bottom: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    width: 60px; /* Tamaño del botón */
    height: 60px; /* Tamaño del botón */
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .whatsapp-float img {
    width: 35px; /* Ajusta el tamaño del ícono */
    height: 35px;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  