/* General */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Hero Banner */
.hero-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/Recursos/Imagenes/productos.jpg');
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

.hero-banner h1 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-banner p {
  font-size: 1.1rem;
  margin-top: 1rem;
}

/* Filtros */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 2rem auto;
}

.filters input,
.filters select {
  width: 48%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.filters input:focus,
.filters select:focus {
  border-color: #1d255e;
}

/* Productos */
.products-container {
  margin: 2rem 0;
}

.section-title {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas para un diseño 4x4 */
  gap: 1.5rem;
  padding: 0 1rem;
  max-width: 1200px; /* Ancho máximo para alinearlo con el filtro */
  margin: 0 auto; /* Centrar en la pantalla */
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%; /* Asegurar altura uniforme */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-details {
  margin-top: 1rem;
}

.product-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.product-price {
  color: #4caf50;
  margin-bottom: 1rem;
}

.btn-add-to-cart {
  background-color: #1d255e; /* Azul oscuro */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
  background-color: #283593; /* Azul más claro */
}

.btn-added {
  background-color: #a9a9a9; /* Gris neutro */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: not-allowed; /* Indica que no es interactivo */
}


/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
  transition: all 0.3s;
  padding: 10px 20px; /* Mejorar la usabilidad en dispositivos táctiles */
  font-size: 1rem;
}

.pagination button.active {
  background: #1d255e;
  color: white;
}
/* Promociones */

.promotions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste automático */
  gap: 1.5rem;
  padding: 0rem 0rem 2rem 0rem;
  max-width: 1113px;
  margin: 0 auto;
}

.promotion-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%; /* Altura uniforme */
}

.promotion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.promotion-card img {
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;



}

.promotion-info {
  margin: 0.5rem 0 1rem 0;
}

.promotion-info h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.promotion-info p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}

.btn-view-more {
  background-color: #1d255e; /* Azul oscuro */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Quitar subrayado */
}

.btn-view-more:hover {
  background-color: #283593; /* Azul más claro */
}


/* Botón flotante del carrito */
.floating-cart-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1d255e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-cart-btn .cart-count {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ff4d4d;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal del Carrito */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4rem; /* Aumentar separación con el header */
  z-index: 999;
}

.modal-content {
  background: white;
  border-radius: 15px;
  width: 600px;
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h3{
  font-size: 1.4rem;
  text-align: center;

}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  background: none;
  border: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem 4rem 0.5rem 4rem;
  gap: 1rem;
}

.cart-image img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.cart-details {
  flex: 2;
  text-align: left;
}

.cart-details .cart-product-title {
  font-size: 1rem;
  font-weight: bold;
}

.cart-details .cart-product-price {
  font-size: 0.9rem;
  color: #555;
}

.cart-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.cart-quantity input {
  width: 50px;
  padding: 0.3rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-delete {
  background-color: transparent;
  color: #ff4d4d;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete:hover {
  color: #cc0000;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.cart-total {
  font-size: 1rem; /* Tamaño reducido */
  font-weight: bold;
}

.btn-proceed {
  background-color: #1d255e;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-proceed:hover {
  background-color: #283593;
}








/* Sección de Ofertas */
.questions__offer {
  text-align: center;
  padding: 1rem 0rem 3rem 0rem;
  margin: 2rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questions__offer .subtitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.questions__offer .questions__copy {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.questions__offer .cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1d255e; /* Azul oscuro */
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.questions__offer .cta:hover {
  background-color: #283593; /* Azul más claro */
}

/* Título de Preguntas Frecuentes */
.preguntas h3 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}


.subtitle {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

/* Mejoras en la sección de Preguntas Frecuentes */
.accordion-button {
  background-color: #ffffff; /* Fondo blanco */
  color: #000; /* Texto negro */
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #e6e6e6; /* Fondo gris claro al estar desplegado */
  color: #000;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}



.accordion-item {
  margin-bottom: 1rem;
  border: 1px solid #ddd; /* Añadir borde gris */
  border-radius: 5px;
  overflow: hidden;
}

.accordion-body {
  background-color: #f9f9f9; /* Fondo gris claro */
  color: #555;
  font-size: 0.9rem;
  padding: 1rem;
  border-top: 1px solid #ddd; /* Línea superior gris */
}

/* Espaciado y centrado */
.accordion {
  max-width: 800px;
  margin: 0 auto; /* Centrar acordeón */
  margin-bottom: 40px;
}

.accordion-header {
  padding: 0.5rem;
}


/* Responsividad */
@media (max-width: 768px) {
  .questions__offer {
    padding: 1.5rem;
  }

  .questions__offer .subtitle {
    font-size: 1.6rem;
  }

  .questions__offer .questions__copy {
    font-size: 0.9rem;
  }

  .questions__offer .cta {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .preguntas h3 {
    font-size: 1.4rem;
  }
}



/*CSS FACTURA*/

.factura-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.factura {
  width: 700px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  
}

.factura-titulo {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
  color: #0f143a;
}

.factura-subtitulo {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  color: #4d4d4d;
  margin-bottom: 20px;
}

.factura-info {
  font-size: 0.95rem;
  margin-bottom: -17px;
}

.factura-tabla {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.factura-tabla th, .factura-tabla td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.factura-tabla th {
  background-color: #0f143a;
  color: white;
}

.factura-total {
  text-align: right;
  margin-top: 15px;
  font-size: 1.1rem;
  margin-right: 10px;
}

.btn-imprimir {
  background-color: #0f143a;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}


.factura-botones{
  text-align: center;
}

.btn-imprimir:hover {
  background-color: #283593;
}



