<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img
        src="../../assets/Recursos/Imagenes/herramientas2.jpg"
        class="d-block w-100"
        alt="Herramientas"
      />
      <div class="carousel-caption d-none d-md-block">
        <a href="productos">
          <button type="button" class="btn btn-primary">Ver Productos</button>
        </a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img
        src="../../assets/Recursos/Imagenes/ofertas4.jpg"
        class="d-block w-100"
        alt="Ofertas"
      />
      <div class="carousel-caption d-none d-md-block">
        <a href="oferta">
          <button type="button" class="btn btn-primary">Ver Ofertas</button>
        </a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img
        src="../../assets/Recursos/Imagenes/ferreteria.jpg"
        class="d-block w-100"
        alt="Contáctanos"
      />
      <div class="carousel-caption d-none d-md-block">
        <a href="contacto">
          <button type="button" class="btn btn-primary">Contáctanos</button>
        </a>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>


<section class="categories">
  <h2 class="section-title">Categorías</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="category-card">
          <div class="category-bg" style="background-image: url('../../assets/Recursos/Imagenes/electricas.jpg');"></div>
          <div class="category-content">
            <h3>Herramientas Eléctricas</h3>
            <a href="productos" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="category-card">
          <div class="category-bg" style="background-image: url('../../assets/Recursos/Imagenes/manuales.jpg');"></div>
          <div class="category-content">
            <h3>Herramientas Manuales</h3>
            <a href="productos" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="category-card">
          <div class="category-bg" style="background-image: url('../../assets/Recursos/Imagenes/construccion.jpeg');"></div>
          <div class="category-content">
            <h3>Construcción y Jardinería</h3>
            <a href="productos" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="category-card">
          <div class="category-bg" style="background-image: url('../../assets/Recursos/Imagenes/casaferre.jpg');"></div>
          <div class="category-content">
            <h3>Materiales para el Hogar</h3>
            <a href="productos" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial">
  <div class="container text-center">
    <h2 class="section-title">Lo que opinan nuestros clientes</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial-card">
          <img src="../../assets/Recursos/Imagenes/Testimonio/maria.jpg" alt="María G." class="testimonial-img">
          <p>"Productos de calidad y atención impecable."</p>
          <h4>María Morales.</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial-card">
          <img src="../../assets/Recursos/Imagenes/Testimonio/Juan.jpg" alt="Juan P." class="testimonial-img">
          <p>"Siempre encuentro lo que necesito. 100% recomendado."</p>
          <h4>Juan Pibaque.</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial-card">
          <img src="../../assets/Recursos/Imagenes/Testimonio/rosa.jpg" alt="Rosa L." class="testimonial-img">
          <p>"Excelentes precios y variedad en productos."</p>
          <h4>Rosa Litardo.</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="testimonial-card">
          <img src="../../assets/Recursos/Imagenes/Testimonio/Luis.jpg" alt="Luis T." class="testimonial-img">
          <p>"La atención al cliente es excelente."</p>
          <h4>Luis Trindade.</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial-card">
          <img src="../../assets/Recursos/Imagenes/Testimonio/karla.jpg" alt="Karla S." class="testimonial-img">
          <p>"Los mejores precios y ofertas del mercado."</p>
          <h4>Karla Salazar.</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial-card">
          <img src="../../assets/Recursos/Imagenes/Testimonio/Ricardo.jpg" alt="Ricardo H." class="testimonial-img">
          <p>"Sin duda, la mejor ferretería de la ciudad. ¡Recomendadísima!"</p>
          <h4>Ricardo Moreno.</h4>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="location">
  <div class="container text-center">
    <h2 class="section-title">Nuestra Ubicación</h2>
    <p>Visítanos en nuestra tienda física, Estamos ubicados en Calle Paraíso de la Flor, Av. Modesto Luque, SLZA - Guayaquil.</p>
    <img src="../../assets/Recursos/Imagenes/mapejemplo.jpg" alt="Mapa" class="map-image" />
  </div>
</section>
